/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.hero img {
  width:100%;
}

.topbar{
  margin-top: 20px;
  position: absolute;
  width: 100%;
}
.topbar li {
  display:inline-block;
  padding: 0 15px;
  float:left;
  position: relative;
  top: 50px;
  transform: translateY(-50%);
	text-transform: uppercase;
}

.topbar li a {
  text-decoration: none;
  color: gray;
}

.topbar li a img {
  width: 60px;
}

.topbar ul{
  width: 470px;
  margin:0 auto;
}

.generation img{
	position: absolute;
	 margin: auto;
	 left: 0;
	 right: 0;
	 top: 240px;
	 bottom: 0;
	 font-family: arial;
	 font-weight: bold;
}

.generation h4{
	position: absolute;
	padding-left: 220px;
	padding-top: 100px;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	font-family: arial;
}

.generation h5{
	text-align: center;
	padding: 115px 50px;
	overflow-wrap: normal;
	overflow-wrap: break-word;
	font-size: 12px;
	font-weight: lighter;
	white-space: nowrap;
}

.generation {
	vertical-align: top;
	display:inline-block;
}
